body {
  font-family: arial;
}

.container {
  background: #3F51B5;

  /* give the outermost container a predefined size */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 600px;

  display: flex;
  flex-direction: column;
}

.content {
  margin: 10px;
  background: #BBDEFB;
}

.scrollable-content {
  background: white;
  /* flex-grow: 1; */

  overflow: auto;

  /* for Firefox */
  min-height: 0;
}
